body{
    background-color: #8cc461;
}
.score{
    border: 8px solid white;
    border-radius: 70px;
    width: 65%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    
}
.score h1{
    font-size: 9rem;
    color: white;
    font-weight: 1300;
    letter-spacing: 3px;
}
input{
    height: 490px;
    width: 490px;
    border-radius: 29px;
    margin-left: 70px;
    font-size: 19rem;
}
.rps{
    padding: 50px;
}
*{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: 6px;
}
.tex  {
    margin: 0 0 0px 1850px;
    border-radius: 30px;
    text-align: right;
    display: flex;
}
.inp1,.inp2{
    background-color: white;
    width: 480px;
    height: 480px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.inp1 p, .inp2 p{
    font-size:65px;
    text-align: center;
    /* padding-top: 22px; */
    font-weight: 1000;
    color: #4c6935;
    letter-spacing: 3px;
}
.inp1 h2 , .inp2 h2{
    
    color: black;
    font-size: 210px;
}
.rpsbuttons{
    width: 23%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    flex-wrap: wrap;
    
}
img {
    height: 35rem;
    margin-right: 6rem;
    
}
.game :hover{
    transform: translate3d(0px,-10px,0px);
   // cursor: pointer;
}
.resultpage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultpage img{
    height: 55rem;
}
.ypick,.result,.cpick{
    width: 900px;
}
.resultpage{
    font-size: 3rem;
}
.ypick h2,.result .game,.result,.cpick h2{
    text-align: center;
    color:white;
}
.pick{
    margin-top: 6rem;
    /* padding-left: 5px; */
}
.resultpage{
    display:none;
}
.newplay{
    padding: 2.6rem;
    background-color: white;
    color: #455f2f;
    width: 79%;
    font-size: 4rem;
    border-radius: 30px;
    padding-right: 2rem;
    border: none;
    font-weight: 800;
    
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
.result1 h2{
    font-size: 8rem;
    margin-bottom: 65px;
}
.resultpage{
    margin-top: 30rem;
}